<html>
<head>
<meta charset="UTF-8">
<title><%= title kifu %></title>
</head>
<body>
  <dl>
  <dt>開始日時</dt><dd><%= kifu.start_time %></dd>
  <dt>終了日時</dt><dd><%= kifu.end_time %></dd>
  <dt>手割合</dt><dd><%= kifu.handicap %></dd>
  <dt>棋戦</dt><dd><%= kifu.game_name %></dd>
  <dt>先手</dt><dd><%= kifu.first_players.map {|p|
    buf = mask(p.name)
    buf += "(%s)" % p.note if !p.note.empty?
    buf
  }.join(", ") %></dd>
  <dt>後手</dt><dd><%= kifu.second_players.map {|p|
    buf = mask(p.name)
    buf += "(%s)" % p.note if !p.note.empty?
    buf
  }.join(", ") %></dd>
  </dl>
  <table>
    <tr><th>手数</th><th>指手</th><th>消費時間</th><th></th><th></th></tr>
    <tr>
      <td></td>
      <td>対局開始</td>
      <td></td>
      <td><a href="0">■</a></td>
      <td></td>
    </tr>
    <% kifu.steps.each do |step| %>
      <tr>
        <td><%= step.seq %></td>
        <td><%= step.move %></td>
        <td><%= step.elapsed_time %></td>
        <td><a href="<%= step.seq %>">■</a></td>
        <% cs = @seq_comment[step.seq] %>
        <td><%= cs.empty? ? "" : "*%d" % cs.size %></td>
      </tr>
    <% end %>
  </table>
  <% if login? %>
  <a href="../../admin/download/<%= kifu.id %>">元データ</a>
  <% end %>
  <a href="../..">棋譜一覧</a>
</body>
</html>
