<html>
<head>
<meta charset="UTF-8">
<title>scene</title>
<style>
div.board {
  display: inline-block;
}

table.board {
  border-style: solid;
  border-color: black;
  border-spacing: 0;
}

table.board td {
  border-width: 1px;
  border-style: solid;
  width: 31px;
  height: 31px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

table.board td.second {
  transform: rotate(180deg);
}

table.board td.first {
}

table.board td.step {
  font-weight: bolder;
  background-color: #C7D1CD;
}

table.board td.prev {
  background-color: #D7E1DD;
}

div.prev_step {
  float: left;
}

div.next_step {
  float: right;
}
</style>
</head>
<body>
<div><a href="../..">棋譜一覧</a></div>
<div class="kifu">
  <div>
  ☗<%= kifu.first_players.map {|p| mask(p.name)}.join(", ") %> - ☖<%= kifu.second_players.map {|p| mask(p.name)}.join(", ") %>
  </div>
  <div>
    <%= step.nil? ? "対局開始" : step.finished ? "終局" : "%d手" % step.seq %>:
    <%= step.nil? ? "" : step.move %>
    <%= step.nil? ? "" : "(%s)" % step.elapsed_time %>
  </div>
  <div class="board">
    <div>☖持駒: <% captured_second.each do |p| %><%= p.name %><% end %></div>
    <table class="board">
    <% pieces.each_with_index do |rows, y| %>
      <tr>
      <% rows.each_with_index do |p, x| %>
        <td class="<%= p.order == :SECOND ? "second" : "first" %><% if !step.nil? && step.pos.x == 9-x && step.pos.y == y+1 %> step<% end %><% if !step.nil? && step.prev.x == 9-x && step.prev.y == y+1 %> prev<% end %>"><%= p.name_fig %></td>
      <% end %>
      </tr>
    <% end %>
    </table>
    <div>☗持駒: <% captured_first.each do |p| %><%= p.name %><% end %></div>
    <div>
      <div class="prev_step">
        <% if !step.nil? && step.seq > 0 %><a href="<%= step.seq - 1 %>">前</a><% end %>
      </div>
      <div class="next_step">
        <% if step.nil? %>
          <a href="1">次</a>
        <% elsif !step.finished %>
          <a href="<%= step.seq + 1 %>">次</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <a href=".">戻る</a>
</div>

<% if !steps.empty? %>
<div>
  <div>同一局面</div>
  <ul>
    <% steps.each do |step| %>
      <li><a href="../<%= step[0].kifu_id %>/<%= step[0].seq %>"><%= title step[1] %>: <%= step[0].seq %>手</a> →<a href="../<%= step[0].kifu_id %>/<%= step[0].seq + 1 %>"><%= step[1].steps[step[0].seq].move %></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if !comments.empty? %>
  Comments:
<ul>
  <% comments.select{|c| !c.nil? }.each do |comment| %>
  <li><%= "%s: %s" % [@owner_map[comment.owner_id], comment.text] %>
    <% if @session.role == :ADMIN || comment.owner_id == @session.account_id %>
    <form action="../../comment/<%= comment.id %>/delete" method="POST" style="display: inline">
      <input type="submit" value="削除"/>
    </form>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>
<% if login? %>
<form action="<%= "%s/comment" % params['seq'] %>" method="POST">
<textarea name="comment"></textarea>
<input type="submit"/>
</form>
<% end %>
</body>
</html>
